.vs/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

**/bin/
**/obj/
artifacts/
TestResults/
coverage/
coverage.*

*.user
*.suo
*.rsuser
*.pdb
*.log
*.tmp
.env

.DS_Store
Thumbs.db
